# Python
__pycache__/
*.pyc
*.pt

# IDE
.vs/
.idea/
.vscode/

# Node
node_modules/

# Env
.env
trocr_model/
*.zip

#cursor
.cursor

#dotnet
.dotnet

#expo
.expo_home

#android
android

# AI model files
AI-Medical-Assistant/
medical_knowledge_base.csv
patient_service.py
test_api.py
